# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# Variáveis de ambiente
.env
.env.local

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Dados locais (descomente se NÃO quiser versionar o JSON)
# dados/
